<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="airtel" class="com.vidvaan.ionetwork.AirtelNetwork"></bean>
<bean id="jio" class="com.vidvaan.ionetwork.JioNetwork"></bean>  
<bean id="xoami" class="com.vidvaan.ionetwork.Xoami">
<property name="network" ref="jio"></property>
</bean>
   

</beans>