<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">



	<bean id="messageBean" name="mb1,mb2,mb3"
		class="com.vidvaan.bean.MessageBean"><!-- u can also use Scope ="prototype" 
			attribute if the obj shoud be different -->
		<property name="message"
			value="Welcome to spring application"></property>

	</bean>
	<alias name="messageBean" alias="mb1" />
	<alias name="messageBean" alias="mb2" />
	<alias name="messageBean" alias="mb3" />

</beans>