<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">




	<bean id="empdao" class="com.vidvaan.dao.EmpDaoImpl"></bean>
	<bean id="empService" class="com.vidvaan.service.EmpServicImpl"
		autowire="constructor" />


	<bean id="empcontroller"
		class="com.vidvaan.controller.EmployeeController"
		autowire="constructor" />




</beans>