<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="student" class="com.vidvaan.bean.Student">
<constructor-arg value="100"/>
<constructor-arg value="Vijay"/>
</bean>
<bean id="student2" class="com.vidvaan.bean.Student">
<constructor-arg value="101"/>
<constructor-arg value="Aksha"/>
</bean>
  

   

</beans>